@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/bootstrap/css/style.css" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"> 
</head>
<body>
    <style>
        body {
            background-color: #000016;
            color: white; /* تغيير لون النص ليكون مرئيًا */
        }
    </style>
    <!-- Contact Section -->
    <section class="cards contact" id="contact">
        <h2 class="title">Let's work together</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="info">
                    <h3>Phone</h3>
                    <p>+201110604174  +201026634045</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="info">
                    <h3>Email</h3>
                    <p>mohammedrehab288@gmail.com</p>
                </div>
            </div>
            <div class="card linkedin-card">
                <div class="icon">
                    <i class="fab fa-linkedin"></i>
                </div>
                <div class="info">
                    <h3>LinkedIn</h3>
                    <p>https://www.linkedin.com/in/mohammed-rehab-8211b6309/</p>
                </div>
            </div>

        </div>
    </section>
</body>
</html>

